// src/components/Callback.tsx

import { useEffect } from 'react';
import { useNavigate } from 'react-router-dom';
import { useAuth } from 'react-oidc-context';

const Callback = () => {
  const navigate = useNavigate();
  const auth = useAuth();

  useEffect(() => {
    if (auth.isAuthenticated) {
      navigate('/');
    }
  }, [auth.isAuthenticated, navigate]);

  if (auth.isAuthenticated) {
    return <div>Authenticated, redirecting...</div>;
  }

  return <div>Loading...</div>;
};

export default Callback;
